:root {
  --border-color: #cacaca;
  --background-color: #ffffff;
  --background-box-title: #f7f7f7;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
}

header h2 {
  margin: 0px;
  line-height: 66px;
}

header a {
  color: black;
}

.them-edit-link {
  position: absolute;
  top: 10px;
  right: 100px;
  color: black;
  font-size: 40px;
}

.them-edit-link a {
  text-decoration: none;
}

.github-link {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
}

.drag-drawflow {
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  cursor: move;
  user-select: none;
}

.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.menu ul li.selected {
  font-weight: bolder !important;
  color:  #804eff !important;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0e5ba3;
  background: #4ea9ff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-import {
  float: right;
  position: absolute;
  top: 60px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0ea35b;
  background: #4effa9;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.swal-wide {
  width: 80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}

.bar-zoom svg {
  cursor: pointer;
  padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
  padding-left: 0px;
}

#drawflow {
  position: relative;
  width: 100%; //calc(100vw - 301px);
  height: calc(100% - 100px);
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image:
    linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }

  .drag-drawflow {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .drag-drawflow span {
    display: none;
  }

  button span {
    display: none;
  }
}

.drawflow .drawflow-node {
  border: 3px solid rgb(0, 0, 0) !important;
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color);
  padding: 0px !important;
  width: auto !important;
}

.drawflow .drawflow-node .input {
  left: -12px !important;
}

.drawflow .drawflow-node .output {
  right: 8px !important;
}

.drawflow .controller .input_1 {
  top: 4px !important;
}

.drawflow .controller .output_1 {
  top: 38px !important;
  background-color: #4effa9 !important;
}

.drawflow .schema .output_1 {
  top: 38px !important;
  background-color: #4effa9 !important;
}

.drawflow .express .output_1 {
  top: 72px !important;
  background-color: #4effa9 !important;
}

.drawflow .drawflow-node .selected{
  background: transparent !important;
}

.schema-data{
  position: absolute;
  right: 15px;
  bottom: 5px;
}

// code colors
.blue{
  color: #0e5ba3 !important;
}

.org{
  color: orange;
}

.green{
  color: #0ea35b;
}

.yllo{
  color: yellow;
}

.prpl{
  color: purple;
}