<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X11-Express</title>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Deafult Theme -->
    <link rel="stylesheet" href="./index.scss">

    <!-- DRAWFLOW -->
    <link rel="stylesheet" href="./dist/drawflow.min.css">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>
            <img src="./favicon.ico" alt="logo" width="30" height="30">
            X11-Express
        </h2>
        <div class="github-link"><a href="https://github.com/blackshark537/x11-express.git" target="_blank">
            <i class="fab fa-github fa-3x"></i></a>
        </div>
    </header>
    <div class="wrapper">
        <div class="col-2">
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="app">
                <i class="fa-solid fa-rocket"></i><span>App</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="express">
                <i class="fa-brands fa-node-js"></i><span> Express</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="controller">
                <i class="fa-solid fa-gear"></i><span> Controller</span>
            </div>
<!--             <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="schema">
                <i class="fa-solid fa-database"></i><span> Schema</span>
            </div> -->
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="prop">
                <i class="fa-solid fa-atom"></i><span> Prop</span>
            </div>
            <div class="d-grid mt-1" style="border-bottom: 1px solid grey;">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#CollectionModal">
                    <i class="fa-solid fa-database"></i> <span> Create Collection</span>
                </button>
            </div>
            <div id="collections">
                <ul id="collectionList">
                </ul>
            </div>
            <div class="d-grid mt-1" style="border-bottom: 1px solid grey;">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#codeModal">
                    <i class="fa-solid fa-filter"></i> <span> Create Middleware</span>
                </button>
            </div>
        </div>
    
        <div class="col-10">
            <div class="menu">
            <ul id="modules"></ul>
            </div>
            <div id="drawflow" class="m-0" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button class="btn-export" onclick="_export()">Save</button>
                <button class="btn-import" onclick="_import()">Load</button>
                <div class="btn-clear" onclick="_clear()">Clear</div>
                <div class="btn-lock">
                    <i id="lock" class="fas fa-lock" onclick="changeMode('fixed');"></i>
                    <i id="unlock" class="fas fa-lock-open" onclick="changeMode('edit');"
                        style="display:none;"></i>
                </div>
                <div class="bar-zoom">
                    <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
                    <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
                    <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
                </div>
            </div>
            
            <!-- Code Editor Modal -->
            <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="codeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="codeModalLabel">@Middleware Function()</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-control-name" for="middleware-name">Name:</label>
                                    <input id="middleware-name" type="text" class="form-control" placeholder="Middleware Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="height: 300px;">
                                    <wc-monaco-editor id="vscode" src="sample.js" language="javascript"></wc-monaco-editor>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveCode" type="button" class="btn btn-primary" onclick="addMiddleware(200,200)"
                                data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Module Modal -->
            <div class="modal fade" id="ModuleModal" tabindex="-1" aria-labelledby="ModuleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModuleModalLabel">New @Module</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-control-label" for="module-name">Name: </label>
                            <input type="text" class="form-control" id="module-name" placeholder="Module Name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveCode" type="button" class="btn btn-primary" onclick="addModule('laptops')"
                                data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Collection Modal -->
            <div class="modal fade" id="CollectionModal" tabindex="-1" aria-labelledby="CollectionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CollectionModalLabel">New @Collection</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-control-label" for="collection-name">Name: </label>
                            <input type="text" class="form-control" id="collection-name" placeholder="Collection Name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveCode" type="button" class="btn btn-primary" onclick="addNodeToDrawFlow('collection', 300,300)"
                                data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Monaco Code Editor -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/vanillawc/wc-monaco-editor@1/index.js"></script>
    
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- DrawFlow JS -->
    <script src="./dist/drawflow.min.js"></script>

    <!-- X11-Express JS -->
    <script src="./index.js"></script>
</body>
</html>