<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X11-Express</title>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- DEFAULT THEME -->
    <link rel="stylesheet" href="/x11/scss/index.scss">

    <!-- DRAWFLOW -->
    <link rel="stylesheet" href="/drawflow/drawflow.min.css">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>
            <img src="/favicon.ico" alt="logo" width="30" height="30">
            X11-Express
        </h2>
        <div class="github-link"><a href="https://github.com/blackshark537/x11-express.git" target="_blank">
            <i class="fab fa-github fa-3x"></i></a>
        </div>
    </header>
    <div class="wrapper">
        <div class="col-2" style="height: 90vh; overflow-y: scroll;">
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="app">
                <i class="fa-solid fa-rocket"></i><span>App</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="express">
                <i class="fa-brands fa-node-js"></i><span> Express</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="sendFile">
                <i class="fa-solid fa-file"></i><span> Send File</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="controller">
                <i class="fa-solid fa-gear"></i><span> Controller</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="prop">
                <i class="fa-solid fa-atom"></i><span> Prop</span>
            </div>
            <!-- X11 COLLECTIONS -->
            <div class="accordion" id="accordionCollection">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             <span class="ml-1">X11 Collections</span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCollection">
                        <div id="collections" class="accordion-body">
                            <ul id="collectionList" class="list-group">
                            </ul>

                            <div class="d-grid mt-1" >
                                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#CollectionModal">
                                    <i class="fa-solid fa-database"></i> <span> New Collection</span>
                                </button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <!-- CUSTOM COLLECTIONS -->
            <div class="accordion" id="accordionCustomCollections">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCustomCollections" aria-expanded="true" aria-controls="collapseCustomCollections">
                             <span class="ml-1">Custom Collections</span>
                        </button>
                    </h2>
                    <div id="collapseCustomCollections" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCollection">
                        <div id="customCollections" class="accordion-body">
                            <ul id="customCollectionList" class="list-group">
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>

            <!-- CUSTOM MIDDLEWARES -->
            <div class="accordion" id="accordionMiddleware">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMiddlewares" aria-expanded="true" aria-controls="collapseOne">
                            <span>Custom Middlewares</span>
                        </button>
                    </h2>
                    <div id="collapseMiddlewares" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMiddleware">
                        <div id="middlewares" class="accordion-body">
                            <ul id="middlewareList" class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    
        <div class="col-10">
            <div class="menu">
                <ul id="modules"></ul>
            </div>
            <!-- DRAWFLOW CONTAINER -->
            <div id="drawflow" class="m-0" ondrop="drop(event)" ondragover="allowDrop(event)">
                <button class="btn-export" onclick="_export()">Save</button>
                <button class="btn-import" onclick="_import()">Load</button>
                <div class="btn-clear" onclick="_clear()">Clear</div>
                <div class="btn-lock">
                    <i id="lock" class="fas fa-lock" onclick="changeMode('fixed');"></i>
                    <i id="unlock" class="fas fa-lock-open" onclick="changeMode('edit');"
                        style="display:none;"></i>
                </div>
                <div class="bar-zoom">
                    <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
                    <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
                    <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
                </div>
            </div>
            
            <!-- CODE MODAL -->
            <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="codeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="codeModalLabel">@Middleware Function()</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-control-name" for="middleware-name">Name:</label>
                                            <input id="middleware-name" type="text" class="form-control" placeholder="Middleware Name:">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="height: 300px;">
                                            <wc-monaco-editor id="vscode" src="sample.txt" language="javascript"></wc-monaco-editor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEW MODULE MODAL -->
            <div class="modal fade" id="ModuleModal" tabindex="-1" aria-labelledby="ModuleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModuleModalLabel">@New Module</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-control-label" for="module-name">Name: </label>
                            <input type="text" class="form-control" id="module-name" placeholder="Module Name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveCode" type="button" class="btn btn-primary" onclick="addModule('laptops')"
                                data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEW COLLECTION MODAL -->
            <div class="modal fade" id="CollectionModal" tabindex="-1" aria-labelledby="CollectionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CollectionModalLabel">@New Collection</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label class="form-control-label" for="collection-name">Name: </label>
                            <input type="text" class="form-control" id="collection-name" placeholder="Collection Name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveCode" type="button" class="btn btn-primary" onclick="addNodeToDrawFlow('collection', 300,300)"
                                data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Monaco Code Editor -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/vanillawc/wc-monaco-editor@1/index.js"></script>
    
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- DrawFlow JS -->
    <script src="/drawflow/drawflow.min.js"></script>

    <!-- X11-Express JS -->
    <script src="/x11/js/index.js"></script>
</body>
</html>